<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page!</title>
  </head>
  <body>

    <form method="POST" action="/start_game">
      <p>Your Move <input type="text" name="move"></p>
      <input type="submit">

  </body>
</html>
