<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors!</title>
  </head>
  <body>
    <h1>WELCOME TO ROCK PAPER SCISSORS</h1>
    <h2>PICK YOUR MOVE</h2>

    <form method="POST" action="/play">
      <input type="submit" name="move" value="SCISSORS">
      <input type="submit" name="move" value="ROCK">
      <input type="submit" name="move" value="PAPER">
    </form>


  </body>
</html>
