<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page!</title>
  </head>
  <body>

    <form method="POST" action="/play">
      <!-- <p>Your Move <input type="text" name="move"></p> -->
      <input type="submit" name="move" value="SCISSORS">
      <input type="submit" name="move" value="ROCK">
      <input type="submit" name="move" value="PAPER">
    </form>


  </body>
</html>
